/*ovo su stilovi za body element i unutar njega*/
body {
  color: red;
  margin: 0;
  font-family: "Arimo", sans-serif;
  font-size: 20px;
  height: 2000px;
}

.navigation {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: purple;
  padding: 20px;
  height: 300px;
}

.link {
  background-color: orange;
}

.flex-center-both {
  display: flex;
  justify-content: center;
  align-items: center;
}
